{{> head}}
{{> navbar}}
<div class="container-sm mt-5">
  <div class="row">
    <div class="col-8">
      <h1>
        Hello that!!!

      </h1>
      <h3>
         Ervin Cabascango - FrontEnd en camino a BackEnd
      </h3>
    </div>
    <div class="col-4">
      <img
        src="assets/img/Ervin_foto.png"
        class="img-thumbnail"
      />
    </div>
  </div>
</div>
{{> footer}}